li {
  border-bottom: 1px dotted #000;
  list-style: none;
  padding: 20px;
  width: auto;
}

a1 {
  color: #000;
  text-decoration: none;
}

span1 {
  background-color: #2388B8;
  border-radius: 3px;
  color: #fff;
  width: 40px;
  display: inline-block;
  padding: 5px;
  text-align: center;
  font-size:10px;
}

span2 {
  background-color: indianred;
  border-radius: 3px;
  color: #fff;
  width: 40px;
  display: inline-block;
  padding: 5px;
  text-align: center;
  font-size: 10px;
}

span3 {
  background-color: #0EFF00;
  border-radius: 3px;
  color: #fff;
  width: 40px;
  display: inline-block;
  padding: 5px;
  text-align: center;
  font-size: 10px;
}

time {
  display: inline-block;
  font-weight: bold;
  margin-right: 40px;
}